@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #262524; 
    height: 100dvh;
}

.principal {
    display: flex;
    border: 5px solid #4FBA2C;
    align-items: center;
    justify-content: space-evenly;
    background: #262524;
    box-sizing: border-box;
    text-align: left;
}

.logo{
    padding: 30px;
    margin: 0px
}

.lado__esquerdo {
    display: flex;
    flex-direction: column;
    border: 5px dashed #FFCE46;
    border-radius: 16px;
    color: #4FBA2C;
    align-items: center;
}

.container__input {
    display: flex;
    width: 650px;
    height: 600px;
    border-radius: 16px;
    margin: 10px;
    padding: 5px; 
    background-color: #FAEEF2;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
    text-wrap: wrap;
}

.container__botoes {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: space-evenly;
    margin: 10px
}

.container__botao {
    display: flex;
    width: 200px;
    padding: 24px;
    gap: px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #74B6FF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
}

.container__botao:hover {
    background: #FFCE46;
    border-radius: 0px;
    transition: 0.2s;
}

.container__output {
    width: 400px;
    height: 800px;
    padding: 5px; 
    margin: 10px;
    border-radius: 16px;
    background: #F8C1D9;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
    color: #262524;
    border: 5px solid #74B6FF;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    justify-content: space-between;
}

.texto__output {
    display: flex;
    text-wrap:wrap ;
    flex-direction: column;
    word-break: break-word;
    text-align: left;
}

.botao__copiar {
    display: flex;
    justify-content: center;
}

#svgPessoaLupa {
    position: relative;
    top: 50%;
    left: 10%;
}

@media only screen and (max-width: 768px) and (min-width: 376px) {
    .principal {
        flex-direction: column;
        padding: 0%;
        width: auto;
        border: 0;
    }

    .lado__esquerdo{
        width: auto;
        align-items: start;
        padding: 0;
    }

    .container__botoes {
        flex-direction: row;
        margin: 0;
        padding: 0;
        border: 0;
        gap: 6px;
    }

    .container__botao {
        margin: 0;
        width: fill;
        height: hug;
    }

    .container__input {
        margin: 0;
        padding: 0;
        border: 0;
        width: auto;
        height: 400px;
        justify-content: left;
    }

    .container__output {
        margin: 0%;
        padding: 0;
        border: 0;
        height: auto;
        padding: 10%;
        width: auto;
    }

    .desenho {
        display: none;
    }

    #observacao {
        text-wrap: wrap;
    }

    .lado__esquerdo{
        width: auto;   
    }

    .logo{
        padding: 5px;
    }
}

@media only screen and (max-width: 375px) {
    .principal {
        flex-direction: column;
        padding: 0%;
        width: auto;
        border: 0;
        gap: 20px;
    }

    .lado__esquerdo{
        width: auto;
        align-items: center;
        padding: 0;
    }

    .container__botoes {
        flex-direction: column;
        margin: 0;
        padding: 0;
        border: 0;
        gap: 6px;
    }

    .container__botao {
        margin: 0;
        width: fill;
        height: hug;
    }

    .container__input {
        margin: 0;
        padding: 0;
        border: 0;
        width: auto;
        height: 400px;
        justify-content: left;
    }

    .container__output {
        margin: 0%;
        padding: 0;
        border: 0;
        height: auto;
        padding: 10%;
        width: auto;
    }

    .desenho {
        display: none;
    }

    #observacao {
        text-wrap: wrap;
    }

    .lado__esquerdo{
        width: auto;   
    }

    .logo{
        padding: 5px;
    }
}